


.top{
    justify-content: center;
    display: flex;
}


.delete_update{
    margin: 3px 10px;
    justify-content: center;
    display: flex;
    position: relative;
    height: 30px;
    width: 70px;
    text-align: center;
    border: 1px solid;
    padding: 1px 0;
    border-radius: 20%;
    align-content:space-between
}
